In [ ]:
rows = int(input())
k = 2 * rows - 2
for i in range(rows, -1, -1):
    for j in range(k, 0, -1):
        print(end=" ")
    k = k + 1
    for j in range(0, i + 1):
        print("*", end=" ")
    print("")

5
        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [ ]:
rows = int(input())
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(j, end=' ')
    print('')

5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5